.menu-icon {
	color: orangered;
	font-size: 40px;
	margin: 20px;
	z-index: 2;
	cursor: pointer;
}

.hide-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	right: 0;
	height: 0;
	width: 0;
	overflow: hidden;
	border-bottom-left-radius: 50%;
	transition: all 0.5s;
	opacity: 0;
}
.show-header {
	height: 65vh;
	width: 50%;
	opacity: 0.97;
}
.hide-header li {
	list-style: none;
	margin-top: 20px;
}

.show-header li {
	color: white;
	list-style: none;
	margin-top: 20px;
}

.show-header a {
	color: white;
	text-decoration: none;
}

.show-header a:hover {
	border-bottom: 2px solid cyan;
	color: cyan;
	transition: all 0.2s;
}

.contact {
	padding-top: 0px;
}

.contact img {
	height: 50vh;
	width: 100%;
}

input,
textarea {
	margin-top: 25px;
	border: none !important;
}

.form-control {
	background: linear-gradient(145deg, #ffffff, #dfe0e1);
	box-shadow: 5px 5px 10px #d3d4d5, -5px -5px 10px #ffffff !important;
}

.form-control:focus {
	transform: scale(1.02);
}

.contact button {
	background-color: #0000ff9c;
	color: white;
	font: bold;
}

.footer .content {
	background-color: #273036;
	color: white;
	text-align: center;
}

.footer-icon {
	color: white;
	font-size: 36px;
}

.footer-icon:hover {
	color: cyan;
	transform: scale(1.05);
	cursor: pointer;
}

@media (max-width: 750px) {
	.hide-header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: fixed;
		top: 0;
		right: 0;
		height: 50%;
		width: 0;
		overflow: hidden;
		border-bottom-left-radius: 50%;
		border-top-left-radius: 50%;
		transition: all 0.5s;
		opacity: 0;
	}
	.show-header {
		height: 100%;
		width: 80%;
		opacity: 0.97;
	}
	.menu-icon {
		color: orangered;
		font-size: 40px;
		margin: 20px;
		z-index: 2;
		cursor: pointer;
	}
}
